.first{
    background-color:beige;
    }
span{
    color: rgb(78, 127, 127);
    font-family:"Sacramento, cursive";
}
.third{
    background-color:beige;
}
.second{
    background-color: azure;
    font-family: "Sacramento, cursive";
}